---
import Header from "../components/Header.astro";

import Section_Mountain from "../components/Section_Mountain.astro";
import Section_Forests from "../components/Section_Forests.astro";
import Section_Castles from "../components/Section_Castles.astro";
import Section_Wizards from "../components/Section_Wizards.astro";

import Footer from "../components/Footer.astro";
import Footer_Scripts from "../components/Footer_Scripts.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="generator" content={Astro.generator} />
    <title>The Evil Wizards Of Stitchery</title>
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/nug4kzv.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/styles/global.css" data-skrollr-stylesheet />

    <!-- JS -->
  </head>
  <body id="skrollr-body">
    <!-- Header & Logo -->
    <Header />

    <!-- Sections -->
    <Section_Mountain />
    <Section_Forests />
    <Section_Castles />
    <Section_Wizards />

    <!-- Footer -->
    <Footer />
    <Footer_Scripts />
  </body>
</html>
