<section castle>
    <p serif>
        <span blackletter>In a realm of yore,</span> a primeval woodland unfurled, veiled in an ethereal veil. Its
        verdant depths whispered ancient secrets, where time itself seemed to dance amidst the gnarled branches and
        dappled glades.
    </p>
</section>