---

---
<footer>
    <p>
        The Evil Wizards of Stitchery &copy; Felix Buhler 2023.<br><br>This website is built with Astro and Tina. All text is generated with ChatGPT from Open AI. All images are generated with Midjourney.
    </p>
</footer>