---
const { imageURL } = Astro.props;
const { title } = Astro.props;
---

<style>
    .image-fullscreen {
        display: block;
        width: 100vw;
        height: 100vh;
        outline: 1px solid blue;
        background: var(--imageBackground);
    }
</style>

<div class="swiper-slide">
    <div class="image-fullscreen" style={{ background: { imageURL } }}></div>
</div>
