---
import Logo from "./Logo.astro";
---

<header>
  <div id="logo-small">
    <span class="text-sans">:</span> The Evil Wizards Of Stitchery <span
      class="text-sans">:</span>
  </div>
</header>

<div id="logo">
  <Logo />
</div>
