---
import Logo from "../components/Logo.astro";
import LogoSmall from "./LogoSmall.astro";
---

<header>
  <div id="logo">
    <h1>The Evil Wizards Of Stitchery</h1>
    <Logo />
  </div>
  <LogoSmall />
</header>
