---
import Wizard_Group from "./Section_Wizards_Group.astro";
import Wizard_Long_Text from "./Section_Wizards_Long_Text.astro";
import Wizard_Rulers_Single from "./Section_Wizards_Rulers_Single.astro";
import Wizard_Rulers from "./Section_Wizards_Rulers.astro";

---

<section id="wizards-text" class="bg-red distance">
  <div class="text normal-width text-dark text-size-big text-serif text-center">
    <div class="icon wizard"></div>
    <span class="text-blackletter">In the realm of shadows</span>, there
    assembled a coven of maleficent sorcerers, clad in dark robes and bearing
    twisted staffs. They were ensnared in the art of wicked enchantments, their
    hearts veiled in darkness and their souls steeped in malevolence. Together,
    they conspired to unleash a torrent of unspeakable horrors upon the land,
    their sinister powers intertwining to weave a tapestry of despair.
  </div>
</section>


<Wizard_Group />
<Wizard_Long_Text />
<Wizard_Rulers_Single />
<Wizard_Rulers />