---
import Swiper_Slide from "./Swiper_Slide.astro";

const castles = await Astro.glob("../../content/castle/*.{md,mdx}");
---

<section id="castles-text" class="bg-dark distance">
  <div
    class="text normal-width text-purple text-size-big text-serif text-center"
  >
    <div class="icon castle"></div>
    <span class="text-blackletter">Amidst the tapestry of antiquity</span>, a
    dread fortress emerged, ensnared in the tendrils of mystic malevolence. Its
    ancient stones bore witness to the echoes of wickedness, whispering tales of
    shadows and desolation.
  </div>
</section>

<section id="castles-images" class="slider-container bg-dark padding-bottom">
  <div class="top-icon">The Castles of Ygg</div>
  <div class="swiper inline fade">
    <div class="swiper-wrapper">
      {
        castles.map((post) => (
          <>
            <Swiper_Slide
              imageURL={post.frontmatter.imageURL}
              title={post.frontmatter.title}
            />
          </>
        ))
      }
    </div>

    <div class="swiper-button-prev swiper-button"></div>
    <div class="swiper-button-next swiper-button"></div>
  </div>
</section>
