---
const wizardsruler = await Astro.glob("../../content/wizardruler/*.{md,mdx}");
---

<section wizard-ruler>
  {
    wizardsruler.map((post) => (
      <>
        <div class="content">
          <div class="image">
            <img src={post.frontmatter.imageURL} />
          </div>
          <div class="text">
            <h3>{post.frontmatter.title}</h3>
            <p small-text>{post.frontmatter.description}</p>
          </div>
        </div>
      </>
    ))
  }
</section>
