/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    /* Colors */
    --red: #f8360a;
    --purple: #a270ff;
    --medium-purple: #6024c1;
    --black: #120d1b;
    --beige: rgb(255, 253, 234);
    --shade-03: rgba(228, 214, 255, 0.03);
    --shade-10: rgba(228, 214, 255, 0.1);

    /* Typography */
    --font-size-base: 12px;

    /* Fonts */
    --font-serif: "matrix-ii-tall-semi", sans-serif;
    --font-blackletter: "schwarzkopf-old", sans-serif;
    --font-sans: 'Inter', sans-serif;

    /* Border Radius */
    --border-radius: 20px;
    --border-radius-outer: calc(1.5 * var(--border-radius));

    /* Padding */
    --padding: 20px;
    --content-padding: 150px;

    /* Logo */
    --logo-width: 300px;

    /* Transitions */

    --transition-eio-06: 0.6s ease-in-out;
    --transition-eio-03: 0.3s ease-in-out;
}

/* Body */

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--purple);
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    line-height: 1.4em;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Typography */

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

h1 {
    /* Just for SEO — Hide For The Eye */
    position: absolute;
    pointer-events: none;
    color: transparent;
}

h2 {
    font-size: 5em;
}

h3 {
    font-size: 3em;
    line-height: 1.1em;
}

h4 {
    font-size: 2.25em;
}

p {
    color: var(--purple);
}

[blackletter] {
    font-family: var(--font-blackletter);
}

[serif] {
    font-family: var(--font-serif);
}

[serif] [blackletter] {
    font-size: 1.05em;
}

/* Layout */

/* Header */

header {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    padding: var(--padding);
    z-index: 999;

}

/* Main */

main {
    background: var(--black);
    width: 100%;
}

/* Sections */

section {}

section[intro] p,
section[castle] p,
section[wizard] p {
    font-size: calc(4 * var(--font-size-base));
    line-height: 1.3em;
    column-count: 1;
    text-indent: calc(100% / 3);
    max-width: 960px;
    padding: var(--content-padding) calc(4 * var(--padding));
    margin: 0 auto;
    display: block;
    width: 100%;
}

/* Footer */


/* Partials */

/* Logo */

@-skrollr-keyframes logo-zoom {
    0 {
        scale: 0.8;
        translate: -50% 0%;
        opacity: 1;
    }

    50p {
        scale: 0.8;
        translate: -50% 10%;
        opacity: 0;
    }
}

#logo {
    position: fixed;
    top: 0;
    display: grid;
    aspect-ratio: 1/1;
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    left: 50%;
    translate: -50% 0;
    transform-origin: top center;
    padding: 50px;
    border-radius: 50%;
    pointer-events: none;
    -skrollr-animation-name: logo-zoom;
}

#logo svg {
    width: 100%;
    height: 100%;
}

#logo svg path {

    transform-origin: center center;
}

@-skrollr-keyframes logo-text {
    50p {
        fill: var(--black);
    }

    60p {
        fill: var(--purple);
    }
}

#logo svg path#logo-text {
    -skrollr-animation-name: logo-text;
    transition: all 0.2s linear;
}

@-skrollr-keyframes logo-small {
    19p {
        display: none;
    }

    20p {
        display: block;
        translate: -50% -200%;
    }

    70p {
        translate: -50% 0;
    }
}

#logo-small {
    position: fixed;
    top: var(--padding);
    overflow: hidden;
    height: auto;

    left: 50%;
    translate: -50% 0;
    display: block;
    z-index: 999;
    background-color: var(--purple);
    padding: calc(0.5 * var(--padding));
    border-radius: 3px;
    font-family: var(--font-sans);
    font-size: 1.5em;
    opacity: 1;

    -skrollr-animation-name: logo-small;
}

#logo-small:hover {}

#logo-small span {
    font-family: var(--font-blackletter);
    text-transform: uppercase;
    font-size: 1.2em;

}

/* Intro Mountains */

@-skrollr-keyframes mountain-zoom {
    0p {
        scale: 1.0;
    }

    90p {
        scale: 1.25;
    }
}

.mountains {
    width: 100vw;
    height: calc(0.375 * 100vw);
    margin-top: calc(100vh - (0.375 * 100vw));
    background: url(assets/mountains.png);
    background-size: cover;
    display: block;
    transform-origin: bottom center;

    -skrollr-animation-name: mountain-zoom;

}

/* Frame */

[frame] {
    padding: var(--padding);
    background: var(--shade-03);
    border-radius: var(--border-radius-outer);
    margin-left: var(--padding);
    margin-right: var(--padding);
    background: var(--purple);
}

/* Spotify */

playlist {
    gap: var(--padding);
    display: grid;
    grid-template-columns: 1fr;
    background: url(assets/spotify.png) right bottom no-repeat, var(--purple);
    background-size: contain;
    padding: calc(2*var(--padding));
}

[resize-playlist] {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    opacity: 1;
    transition: all var(--transition-eio-06);
}

[resize-playlist]:hover {
    opacity: 1;
}


playlist * {
    border-radius: var(--border-radius) !important;
}

playlist div {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--padding);
}

playlist div iframe {
    mix-blend-mode: multiply;
    filter: saturate(0) brightness(1);

}

playlist div div.iframe-background {
    background: var(--purple);
    overflow: hidden;
    border: 1px solid var(--purple);
    border-bottom: 0px;
}

playlist div div {

    color: var(--black);

    display: flex;
    font-family: var(--font-serif);
    -webkit-backface-visibility: hidden;
    transition: all var(--transition-eio-06);

}


/* Images */

.swiper {
    width: 100%;
    display: block;
}


.swiper[inline] {
    overflow: visible !important;
    max-width: 960px;
    width: 100%;
}

.swiper-slide {
    display: block;
    position: relative;
    max-height: auto;
    max-width: 100%;
}

[fullscreen] .swiper-slide {
    max-height: 100vh;
    width: 100vw;
}

.swiper-slide img {
    width: 100%;
    pointer-events: none;
    -webkit-touch-callout: none;
    z-index: 1;
}

[fullscreen] .swiper-slide img {
    width: 100%;
    pointer-events: none;
    -webkit-touch-callout: none;
    z-index: 1;
}



.slide-title-wrapper {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 9;
    height: 200px;
}

.slide-title {
    pointer-events: none;
    color: var(--black);
    background: var(--purple);
    padding: calc(0.5 * var(--padding));
    width: auto;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    translate: -50% 0%;
    z-index: 9;
    bottom: var(--padding);
    transition: translate 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    font-family: var(--font-sans);
    font-size: calc(1.5 *var(--font-size-base));
    overflow: hidden;
}

[inline] .slide-title {
    padding: 0; 
    color: var(--purple);
    border-radius: 0;
    background: none;
    overflow: visible;
}

[fullscreen] .slide-title-wrapper .slide-title {
    translate: -50% 300%;
}

[fullscreen] .slide-title-wrapper:hover .slide-title {
    translate: -50% 0%;
}

.swiper-button {
    font-family: var(--font-sans) !important;
    height: 100%;
    top: 0;
    margin-top: 0;
    width: auto;
    padding: var(--padding);
    font-size: calc(1.5 *var(--font-size-base));
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.swiper:hover .swiper-button {
    opacity: 1;
}


.swiper-button::after {
    font-size: 1.5em !important;
    color: var(--purple) !important;
    font-family: var(--font-sans) !important;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) !important;
}

.swiper-button:hover::after {
    scale: 1.4;
}

.swiper-button-prev {
    left: 0px;
}


.swiper-button-next {
    right: 0;
}

[fullscreen] .swiper-button-next::before,
[fullscreen] .swiper-button-prev::before {
    --gradient-width: 100px;
    background: rgb(0, 0, 0);
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1) !important;
    width: var(--gradient-width);
    z-index: -1;
    pointer-events: none;
}

[fullscreen] .swiper-button-next::before {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    right: 0;
    translate: var(--gradient-width) 0;
}

[fullscreen] .swiper-button-prev::before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    left: 0;
    translate: calc(-1 * var(--gradient-width)) 0;
}

[fullscreen] .swiper-button-next:hover::before,
[fullscreen] .swiper-button-prev:hover::before {
    translate: 0 0;
}


.swiper-button-next::after {
    content: "→";
}

.swiper-button-prev::after {
    content: "←";
}

/* Sections */

section {}

/* Forest */